/*
	opacity: .3;
/* ------------------------------------------------- menu ------------------------------------------------- */
#menu {
	position: relative;
	z-index: 1;
	height: 34px;
	clear: both;
	padding: 0px 30px;
	min-width: 900px;
/* blue */
	background: #2C81B4;
	background: -moz-linear-gradient(top, #5EACDA, #2C81B4);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5EACDA), to(#2C81B4));
}
#menu > ul.left {
	float: left;
}
#menu > ul.right {
	float: right;
}
#menu > ul {
	position: relative;
	margin: 0;
	padding: 0;
}
#menu > ul ul {
	list-style: none;
	margin: 0;
	padding: 0;
/* blue */
	background: #2C81B4;
	background: -moz-linear-gradient(top, #5EACDA, #2C81B4);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5EACDA), to(#2C81B4));
	opacity: .9;
}
#menu > ul a {
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px;
}
#menu > ul > li + li {
	border-right: 1px solid #8AD142;
}
#menu > ul .top, #menu > ul li li.sfhover {
	padding: 10px 15px 9px 17px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
}
#menu > ul ul li {
	padding: 2px;
}
#menu > ul .selected .top {
	color: #FFFFFF;
/* green */
	background: #cbdb2a;
	background: -moz-linear-gradient(top, #cbdb2a, #7fc887);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cbdb2a), to(#7fc887));
}
#menu > ul .selected:hover a.top, #menu > ul .sfhover a.top {
}
#menu > ul .parent {
	background: url('../image/menu/right-grey.png') 95% center no-repeat;
}
#menu > ul li {
	float: left;
	list-style: none;
}
#menu > ul li ul {
	position: absolute;
}
#menu > ul li li {
	clear: both;
}
#menu > ul li ul a {
	color: #FFFFFF;
	height: 15px;
	width: 145px;
	opacity: 1.0;
}
#menu > ul li ul ul {
	margin: -27px 0 0 157px;
}
#menu > ul li li:hover, #menu > ul li li.sfhover {
/* dark green */
	background: #7fc887;
	opacity: 1.0;
}

#menu .no_border {
	border-right: 0px;
}