#last_pop {
float:right;
margin-right:0px;
}
#megamenu1 > ul > li > div:last-child {
	right: 0px !important;
}
/* ------------------------------------------------- TOP level -- (level 1) ------------------------------------------------- */
.dropMenu {
	z-index: 990;
	font-size:100%;
	line-height:1.125em;
	height: 35px;
	margin:10px auto 10px auto;
	padding:0px 5px 0px 5px;
	position:relative;

	/* Background color and gradients */
	background: #cbdb2a;
	background: -moz-linear-gradient(top, #cbdb2a, #7fc887);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cbdb2a), to(#7fc887));

	/* Rounded Corners */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-khtml-border-radius: 5px;
	behavior: url(../js/libs/PIE/PIE.htc);

	/* Borders */
	border: 1px solid #00a651;

	/* shadow */
	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
}
.dropMenu div {
	z-index:990;
	position:absolute;
	left:-9999px;
	width: 100%;
}

.dropMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.dropMenu ul li {
	z-index: 991;
	float:left;
	display:inline-block;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border: none;
	text-align:center;
	line-height:35px;
	color:#fff;
}
.dropMenu ul li.last {
	background:none;
}
.dropMenu ul li a {
	z-index: 992;
	display:inline-block;
	position: relative;
	margin:0px 0px 0px 0px;
	padding:0px 10px 0px 10px;
	color: #fff;
	text-decoration:none;
	outline:0;
}
.dropMenu ul li a:visited {
	color:#fff;
	text-decoration:none;
}

.dropMenu ul li:hover {
	z-index: 992;
	margin:0px -1px 0px 0px;
	padding:0px 0px 0px 0px;
	color:#444;

	/* Background color and gradients */
	background: #fdb813;
	background: -moz-linear-gradient(top, #ffe505, #fdb813);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffe505), to(#fdb813));

	/* Borders */
	border: 1px solid #00a651;

	/* Rounded Corners */
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-o-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;
	behavior: url(../js/libs/PIE/PIE.htc);

	/* shadow */
	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
}
.dropMenu ul li a:hover {
	white-space:nowrap;
}
.dropMenu ul li:hover > a {}
.dropMenu ul li a:hover b {
	display:inline-block;
	position:relative;
	padding:0px 10px 5px 10px;
	margin:0px 0px 0px 0px;
	cursor:pointer;
}
.dropMenu ul :hover div {
	left:0;
	margin:-5px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	opacity:1;

	/* Background color and gradients */
	background: #fdb813;
	background: -moz-linear-gradient(top, #ffe505, #fdb813);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffe505), to(#fdb813));

	/* Borders */
	border: 1px solid #fdb813;

	/* Rounded Corners */
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-o-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	behavior: url(../js/libs/PIE/PIE.htc);

	/* shadow */
	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
}

/* ------------------------------------------------- (level 2) ------------------------------------------------- */
#megamenu1 {
	z-index: 991;
	line-height:1.125em;
	font-size:100%;
	height: 45px;
	width: 99%;
	margin:-5px auto 0px auto;
	padding:10px 5px 5px 5px;

	/* Background color and gradients */
	background: #fdb813;
	background: -moz-linear-gradient(top, #ffe505, #fdb813);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffe505), to(#fdb813));

	/* Borders */
	border: 1px solid #fdb813;

	/* Rounded Corners */
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	behavior: url(../js/libs/PIE/PIE.htc);

	/* shadow */
	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
}
#megamenu1 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#megamenu1 > ul > li {
	position: relative;
	float: left;
	z-index: 992;
	color:#444;
}
#megamenu1 > ul > li:hover {
	z-index: 992;
	margin:0px 5px 0px 0px;
/*
	padding:10px 0px 10px 0px;
*/
	padding:0px 0px 0px 0px;
	color:#444;

	/* Background color and gradients */
	background: #2C81B4;
	background: -moz-linear-gradient(top, #5EACDA, #2C81B4);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5EACDA), to(#2C81B4));

	/* Rounded Corners */
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	behavior: url(../js/libs/PIE/PIE.htc);

	/* Borders */
	border: 1px solid #0272a7;

	/* Borders */
	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
}
#megamenu1 > ul > li > a {
	z-index: 993;
	display: block;
	margin:0px 0px 0px 0px;
	padding:0px 10px 0px 10px;
	color: #FFF;
	text-decoration: none;
	position: relative;
}
#megamenu1 > ul > li > div {
	z-index: 993;
	display: none;
/*
	position: absolute;
	margin:5px 0px 0px -1px;
*/
	margin:-3px 0px 0px -1px;
	padding:5px 10px 5px 10px;

	/* Background color and gradients */
	background: #2C81B4;
	background: -moz-linear-gradient(top, #5EACDA, #2C81B4);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5EACDA), to(#2C81B4));

	/* Rounded Corners */
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-o-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	behavior: url(../js/libs/PIE/PIE.htc);

	/* Borders */
	border: 1px solid #0272a7;

	/* shadow */
	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
}
#megamenu1 > ul > li:hover > div {
	display: table;
}
#megamenu1 > ul > li > div > ul {
	display: table-cell;
}
#megamenu1 > ul > li ul + ul {
	padding-left: 10px;
}
#megamenu1 > ul > li ul > li > a {
	display: inline-block;
	padding: 4px;
	white-space: nowrap;
	text-decoration: none;
	color: #FFFFFF;
	min-width: 120px;
}
#megamenu1 > ul > li ul > li > a:hover {
	margin:0px 0px 0px -2px;
	padding:0px 0px 0px -2px;
	color: #FFFFFF;

	/* Background color and gradients */
	background: #cbdb2a;
	background: -moz-linear-gradient(top, #cbdb2a, #7fc887);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cbdb2a), to(#7fc887));

	/* Rounded Corners */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-khtml-border-radius: 5px;
	behavior: url(../js/libs/PIE/PIE.htc);

	/* Borders */
	border: 1px solid #00a651;

	/* Borders */
	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
}
#megamenu1 > ul > li > div > ul > li > a {
	color: #FFFFFF;
}