table {
	color:#444444;
	width:100%;
	margin: 20px auto;
}

table caption {
	font-size: 1.5em;
	line-height: 1.5em;
	background: #fff;
}

th, td {
	padding:10px 10px 10px 10px;
	text-align:center;
}

th {
	background:#e8eaeb;
	border: 1px solid #DBDEE1;
}

td {
	border: 1px solid #DBDEE1;
}

tr {
	background:#fff;
	border: 1px solid #DBDEE1;
}

tfoot th {
	background: #b0cc7f;
	text-align: left;
}

td.checkbox {
	background: #b0cc7f;
}

th.textright, td.textright {
	text-align:right;
}
th.textleft, td.textleft {
	text-align:left;
}

tbody.zebra tr:nth-child(odd) {
	background-color:#fff;
}

tbody.zebra tr:nth-child(even) {
	background-color:#EFEFEF;
}

/*
td {border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}
td.last {border-right:none;}
tr.odd-row td {background:#f6f6f6;}
td.first, th.first {text-align:left}

tr:first-child th.first {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
}

tr:first-child th.last {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
}

tr:last-child td.first {
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
}

tr:last-child td.last {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
}
*/
